{
  "openapi": "3.0.1",
  "info": {
    "title": "JobBOSS² Public API",
    "description": "\nProvides a common API surface for accessing ECI ERP JobBOSS².\n\n## Authentication\n\nPass an access token in the HTTP Authorization header of each request. For example:\n\n```Authorization: Bearer [token]```\n\nAccess tokens are obtained from the Management API. See the <a href='/authenticate.html'>Management API OAuth 2.0 Token endpoint documentation</a> for more information.\n\n## Date and Time Fields\n\nAll dates submitted to the API are assumed to be in UTC. Likewise, all dates returned from the API are in UTC.\n\n### Format of Date/Time Fields\nWhen submitting date and datetime fields through the Web API, values should match the following formats `yyyy-MM-ddTHH:mm:ssZ or yyyy-MM-dd`\n\n<a name='currency-fields'></a>\n## Currency Fields\n\nThe `Quote` and `QuoteLineItem` endpoints contain fields like `price1` and `price1Foreign` or `miscCharge` and `miscChargeForeign`.\nFor a list of the relevant fields for each endpoint, look at the documentation about that endpoint.\n\nIn these cases the value in `price1` and `miscCharge` represents the currency used by the company (as configured in company settings)\nand the value in the `price1Foreign` and `miscChargeForeign` represents the currency used by the customer that is set on that Quote.\n\nIf the customer uses the same currency as the company, then only the non-`foreign` fields should be used. \n\nWhen using a POST or PATCH request to set currency values, only one of the fields may be used in the request. The\nother field will be calculated using the relevant exchange rate. To submit the request with a value using the company's currency, use\nthe `price1` or `miscCharge` field. To submit the request with a value using the customer's currency, use the `price1Foreign` or\n`miscChargeForeign` field.\n\n<a name='fields-expressions'></a>\n## Fields Expressions\n\nBy default, most GET requests will not return all of the available fields for a given resource.\nRefer to the individual GET request documentation for a list of the default fields that will be included.\nIf you do not want the default fields, you can apply a fields expression to the query string parameters\nin the format `fields=fieldOne,fieldTwo,fieldThree`.\n\n<a name='filter-expressions'></a>\n## Filter Expressions\n\nFor resources that support filtering, filter expressions can be applied as query string parameters in\nthe format ```fieldName[operator]=value```\n\nNote, for simple equality, you can omit the operator, e.g. `?firstName=Jane`\n\n### Operators\n\n- `[eq]` Equal to the given value.\n\n- `[ne]` Not Equal to the given value.\n\n- `[gte]` Greater than or equal to the given value.\n\n- `[lte]` Less than or equal to the given value.\n\n- `[gt]` Greater than the given value.\n\n- `[lt]` Less than the given value.\n\n- `[in]` Is in a list of pipe separated values.\n\n- `[notin]` Is not in a list of pipe separated values.\n\n- `[null]` Is null. To test if a field is null use `fieldName[NULL]=true`. Please note that the `revisedDate` field cannot be tested for null (it can never be null). Using `[NULL]` with `revisedDate` will result in a 500 server error.\n\nIf you have multiple filters to apply, concatenate them in the query string using `&` just for joining other parameters.\n\nExamples:\n```\n?customerCode=ACME\n?customerCode[eq]=ACME&orderTotal[gte]=3700\n```\n\n<a name = 'pageparam' ></a>\n## Paging Parameters\nThe parameters ```take``` and ```skip``` can be provided separately but can be combined to implement\nserver-side paging of results.\n\nFor example:\n```\n?take=100\n?take=100&skip=200\n```\nBy default `take` is set to 200.\n\n\n<a name='sort-expressions'></a>\n## Sort Expressions\nFor resources that support sorting, the sort expression is specified by adding the ```sort```\nquery string parameter, with a comma separated list of expressions as its value,\neach expression having an optional prefix of ```+``` or ```-``` to indicate ascending or descending order.\n\nFor example:\n```\n?sort=firstName\n?sort=+lastName,+firstName\n?sort=-createDate\n```\n\n## Error Responses\n\nError responses are return in the JSON format shown below:\n\n### A sample 404 Not Found\n```json\n{\n    \"Title\": \"Not Found\",\n    \"Status\": 404,\n    \"Detail\": \"\",\n    \"TraceId\": \"\"\n}\n```\n### A sample 500 Internal Server Error\n\n```json\n{\n    \"Title\": \"An error occured while processing your request.\",\n    \"Status\": 500,\n    \"Detail\": \"\",\n    \"TraceId\": \"\"\n}\n```\n",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api-jb2.integrations.ecimanufacturing.com:443",
      "description": "API Host"
    }
  ],
  "paths": {
    "/api/v1/eci-aps/authenticate-user": {
      "post": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/eci-aps/get-schedule": {
      "get": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/authenticate-user": {
      "post": {
        "tags": [
          "null"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/filters": {
      "get": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/get-jobs": {
      "get": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/grid-option": {
      "post": {
        "tags": [
          "null"
        ],
        "parameters": [
          {
            "name": "option",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "columnID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/grid-options": {
      "get": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/kpi-definitions": {
      "get": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/kpi/jobs-closed": {
      "get": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/kpi/jobs-in-progress": {
      "get": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/kpi/jobs-on-hold": {
      "get": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/kpi/jobs-past-due": {
      "get": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/shopview/reset-grid-options": {
      "post": {
        "tags": [
          "null"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ap-checks": {
      "get": {
        "tags": [
          "AP Checks"
        ],
        "summary": "Gets a list of AP Checks",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters as query string parameters",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records to skip.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "AP Checks"
        ],
        "summary": "Creates a new AP Check",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": { }
            },
            "application/json": {
              "schema": { }
            },
            "text/json": {
              "schema": { }
            },
            "application/*+json": {
              "schema": { }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Check created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Error": {
                    "Title": "Internal Server Error",
                    "Status": 500,
                    "Detail": "Internal Server Error",
                    "TraceId": "a1cddeff-f557-4f67-84ff-d49158242a07"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Error": {
                    "Title": "Internal Server Error",
                    "Status": 500,
                    "Detail": "Internal Server Error",
                    "TraceId": "3c8325d4-b4c0-45da-ad52-75a49b646f04"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ap-checks/{checkNumber}": {
      "get": {
        "tags": [
          "AP Checks"
        ],
        "summary": "Gets a single AP Check by check number",
        "parameters": [
          {
            "name": "checkNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Check not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Error": {
                    "Title": "Internal Server Error",
                    "Status": 500,
                    "Detail": "Internal Server Error",
                    "TraceId": "81d5dbfb-17fb-4e1a-accd-428357051f5f"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ar-invoice-details": {
      "get": {
        "tags": [
          "AR Invoice Details"
        ],
        "summary": "Gets a list of AR Invoice Details",
        "description": "By default an AR invoice details response will include only the fields: commissionPercent, contactName, deliveryTicketDate, deliveryTicketNumber, discountPercent, GLAccount1, inventoryItemNumber, invoiceNumber, isTaxable, jobNumber, lastModDate, lineTotal, lineTotalForeign, partDescription, partNumber, PONumber, productCode, quantityCancelled, quantityOrdered, quantityShipped, revision, salesAccount, salesAmount1, salesAmountForeign1, taxStatus, uniqueID, unit, unitPrice, unitPriceForeign, workCode. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by Invoice Number": {
                "value": {
                  "invoiceNumber": "4691"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ARInvoiceDetailListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "accountingID": "string",
                      "commissionPercent": 0,
                      "contactName": "string",
                      "deliveryTicketDate": "2026-07-14T17:46:00.0000000+00:00",
                      "deliveryTicketNumber": "string",
                      "discountPercent": 0,
                      "FOB": "string",
                      "GLAccount1": "string",
                      "GLAccount2": "string",
                      "GLAccount3": "string",
                      "GLAccount4": "string",
                      "GLAccount5": "string",
                      "inventoryItemNumber": 0,
                      "invoiceNumber": "string",
                      "isTaxable": false,
                      "jobNumber": "string",
                      "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModUser": "string",
                      "lineTotal": 0,
                      "lineTotalForeign": 0,
                      "partDescription": "string",
                      "partNumber": "string",
                      "PONumber": "string",
                      "productCode": "string",
                      "quantityCancelled": 0,
                      "quantityOrdered": 0,
                      "quantityShipped": 0,
                      "revision": "string",
                      "salesAccount": "string",
                      "salesAmount1": 0,
                      "salesAmount2": 0,
                      "salesAmount3": 0,
                      "salesAmount4": 0,
                      "salesAmount5": 0,
                      "salesAmountForeign1": 0,
                      "salesAmountForeign2": 0,
                      "salesAmountForeign3": 0,
                      "salesAmountForeign4": 0,
                      "salesAmountForeign5": 0,
                      "taxStatus": false,
                      "uniqueID": 0,
                      "unit": "string",
                      "unitPrice": 0,
                      "unitPriceForeign": 0,
                      "workCode": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ar-invoices": {
      "get": {
        "tags": [
          "AR Invoices"
        ],
        "summary": "Gets a list of AR Invoices",
        "description": "By default an AR invoice response will include only the fields: amountPaidSoFar, amountPaidSoFarForeign, ARAccount, currencyCode, customerCode, customerDescription, daysOverdue, deliverTicketNumber, discountDate, enteredBy, exchangeRate, invoiceDate, invoiceNumber, invoiceTotal, invoiceTotalForeign, lastModDate, location, netDueDate, notes, openInvoiceAmount, paymentDate, paymentStatus, periodNumber, projectedPayDate, salesID, taxAccount, taxCode, termsCode, territory, uniqueID, workCode. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by Status (Unpaid)": {
                "value": {
                  "paymentStatus": "UNPAID"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ARInvoiceListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "accountingID": "string",
                      "amountPaidSoFar": 0,
                      "amountPaidSoFarForeign": 0,
                      "ARAccount": "string",
                      "cashDiscountAmount": 0,
                      "cashDiscountAmountForeign": 0,
                      "country": "string",
                      "currencyCode": "string",
                      "customerCheckNumber": "string",
                      "customerCode": "string",
                      "customerDescription": "string",
                      "dateEntered": "2026-07-14T17:45:59.0000000+00:00",
                      "daysOverdue": 0,
                      "deliverTicketNumber": "string",
                      "discountAccount": "string",
                      "discountDate": "2026-07-14T17:45:59.0000000+00:00",
                      "enteredBy": "string",
                      "exchangeRate": 0,
                      "exportedToEDI": false,
                      "exportedToQB": false,
                      "freightAccount": "string",
                      "GSTAccount": "string",
                      "GSTCharges": 0,
                      "GSTChargesForeign": 0,
                      "GSTCode": "string",
                      "ignoreMinimumOrder": false,
                      "invoiceDate": "2026-07-14T17:45:59.0000000+00:00",
                      "invoiceNumber": "string",
                      "invoicePosted": false,
                      "invoicePrinted": false,
                      "invoiceTotal": 0,
                      "invoiceTotalForeign": 0,
                      "lastModDate": "2026-07-14T17:45:59.0000000+00:00",
                      "lastModUser": "string",
                      "location": "string",
                      "netDueDate": "2026-07-14T17:45:59.0000000+00:00",
                      "notes": "string",
                      "openInvoiceAmount": 0,
                      "paymentDate": "2026-07-14T17:45:59.0000000+00:00",
                      "paymentStatus": "string",
                      "periodNumber": "string",
                      "projectedPayDate": "2026-07-14T17:45:59.0000000+00:00",
                      "salesID": "string",
                      "salesTaxCharges": 0,
                      "salesTaxChargesForeign": 0,
                      "shippingAddress1": "string",
                      "shippingCharges": 0,
                      "shippingChargesForeign": 0,
                      "shippingCity": "string",
                      "shippingCode": "string",
                      "shippingStreet": "string",
                      "shippingZip": "string",
                      "shipToName": "string",
                      "shipVia": "string",
                      "taxAccount": "string",
                      "taxCode": "string",
                      "termsCode": "string",
                      "territory": "string",
                      "uniqueID": 0,
                      "workCode": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attendance-ticket-details": {
      "get": {
        "tags": [
          "Attendance Ticket Details"
        ],
        "summary": "Gets a list of Attendance Ticket Details",
        "description": "By default an Attendance Ticket Detail item response will include only the fields: accountingID, actualClockInDate, actualClockInTime, actualClockOutDate, actualClockOutTime, adjustedClockInDate, adjustedClockInTime, adjustedClockOutDate, adjustedClockOutTime, attendanceCode, clockOutDate, comments, createdBy, deviceNumber, employeeCode, employeeName, GLCode, isHoliday, isOvertime, lastModDate, lastModUser, OTCalcFlag, payRateCode, payRollRate, searchDate, shift, ticketDate, totalActualTime, totalAdjustedTime, uniqueID",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by Employee": {
                "value": {
                  "employeeCode": "101"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeAndAttendanceDetailListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "accountingID": "string",
                      "actualClockInDate": "string",
                      "actualClockInTime": "string",
                      "actualClockOutDate": "string",
                      "actualClockOutTime": "string",
                      "adjustedClockInDate": "string",
                      "adjustedClockInTime": "string",
                      "adjustedClockOutDate": "string",
                      "adjustedClockOutTime": "string",
                      "attendanceCode": 0,
                      "clockOutDate": "2026-07-14T17:46:04.0000000+00:00",
                      "comments": "string",
                      "createdBy": "string",
                      "deviceNumber": 0,
                      "employeeCode": 0,
                      "employeeName": "string",
                      "GLCode": "string",
                      "isHoliday": false,
                      "isOvertime": false,
                      "lastModDate": "2026-07-14T17:46:04.0000000+00:00",
                      "lastModUser": "string",
                      "OTCalcFlag": "string",
                      "payRateCode": 0,
                      "payRollRate": 0,
                      "searchDate": 0,
                      "shift": 0,
                      "ticketDate": "2026-07-14T17:46:04.0000000+00:00",
                      "totalActualTime": 0,
                      "totalAdjustedTime": 0,
                      "uniqueID": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attendance-ticket-details/{id}": {
      "patch": {
        "tags": [
          "Attendance Ticket Details"
        ],
        "summary": "Updates an Attendance Ticket Detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeAndAttendanceDetailUpdate"
              },
              "example": {
                "actualClockInTime": "string",
                "actualClockOutTime": "string",
                "adjustedClockInTime": "string",
                "adjustedClockOutTime": "string",
                "attendanceCode": 0,
                "clockOutDate": "2026-07-14T17:46:04.0000000+00:00",
                "comments": "string",
                "GLCode": "string",
                "isHoliday": false,
                "isOvertime": false,
                "payRateCode": 0,
                "shift": 0
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/attendance-tickets/{ticketDate}/employees/{employeeCode}/attendance-ticket-details": {
      "post": {
        "tags": [
          "Attendance Ticket Details"
        ],
        "summary": "Creates an Attendance Ticket Detail",
        "parameters": [
          {
            "name": "ticketDate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeeCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeAndAttendanceDetailCreate"
              },
              "example": {
                "actualClockInTime": "string",
                "actualClockOutTime": "string",
                "adjustedClockInTime": "string",
                "adjustedClockOutTime": "string",
                "attendanceCode": 0,
                "clockOutDate": "2026-07-14T17:46:04.0000000+00:00",
                "comments": "string",
                "GLCode": "string",
                "isHoliday": false,
                "isOvertime": false,
                "payRateCode": 0,
                "shift": 0
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeAndAttendanceDetail"
                },
                "example": {
                  "accountingID": "string",
                  "actualClockInDate": "string",
                  "actualClockInTime": "string",
                  "actualClockOutDate": "string",
                  "actualClockOutTime": "string",
                  "adjustedClockInDate": "string",
                  "adjustedClockInTime": "string",
                  "adjustedClockOutDate": "string",
                  "adjustedClockOutTime": "string",
                  "attendanceCode": 0,
                  "clockOutDate": "2026-07-14T17:46:04.0000000+00:00",
                  "comments": "string",
                  "createdBy": "string",
                  "deviceNumber": 0,
                  "employeeCode": 0,
                  "employeeName": "string",
                  "GLCode": "string",
                  "isHoliday": false,
                  "isOvertime": false,
                  "lastModDate": "2026-07-14T17:46:04.0000000+00:00",
                  "lastModUser": "string",
                  "OTCalcFlag": "string",
                  "payRateCode": 0,
                  "payRollRate": 0,
                  "searchDate": 0,
                  "shift": 0,
                  "ticketDate": "2026-07-14T17:46:04.0000000+00:00",
                  "totalActualTime": 0,
                  "totalAdjustedTime": 0,
                  "uniqueID": 0
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attendance-tickets": {
      "get": {
        "tags": [
          "Attendance Tickets"
        ],
        "summary": "Gets a list of Attendance Tickets",
        "description": "By default an attendance ticket response will include only the fields: employeeCode, employeeName, enteredBy, enteredDate, isExported, lastModDate, lastModUser, searchDate, ticketDate, uniqueID. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by Employee": {
                "value": {
                  "employeeCode": "101"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeAndAttendanceListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "employeeCode": 0,
                      "employeeName": "string",
                      "enteredBy": "string",
                      "enteredDate": "2026-07-14T17:46:04.0000000+00:00",
                      "isExported": false,
                      "lastModDate": "2026-07-14T17:46:04.0000000+00:00",
                      "lastModUser": "string",
                      "searchDate": 0,
                      "ticketDate": "2026-07-14T17:46:04.0000000+00:00",
                      "uniqueID": 0
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attendance Tickets"
        ],
        "summary": "Creates an Attendance Ticket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceTicketCreate"
              },
              "example": {
                "employeeCode": 0,
                "ticketDate": "2026-07-14T17:46:04.0000000+00:00"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeAndAttendance"
                },
                "example": {
                  "employeeCode": 0,
                  "employeeName": "string",
                  "enteredBy": "string",
                  "enteredDate": "2026-07-14T17:46:04.0000000+00:00",
                  "isExported": false,
                  "lastModDate": "2026-07-14T17:46:04.0000000+00:00",
                  "lastModUser": "string",
                  "searchDate": 0,
                  "ticketDate": "2026-07-14T17:46:04.0000000+00:00",
                  "uniqueID": 0
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attendance-tickets/{ticketDate}/employees/{employeeCode}": {
      "get": {
        "tags": [
          "Attendance Tickets"
        ],
        "summary": "Gets an Attendance Ticket by its unique ID",
        "description": "By default an attendance ticket response will include only the fields: employeeCode, employeeName, enteredBy, enteredDate, isExported, lastModDate, lastModUser, searchDate, ticketDate, uniqueID. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "ticketDate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeeCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeAndAttendanceSuccessResponse"
                },
                "example": {
                  "Data": {
                    "employeeCode": 0,
                    "employeeName": "string",
                    "enteredBy": "string",
                    "enteredDate": "2026-07-14T17:46:04.0000000+00:00",
                    "isExported": false,
                    "lastModDate": "2026-07-14T17:46:04.0000000+00:00",
                    "lastModUser": "string",
                    "searchDate": 0,
                    "ticketDate": "2026-07-14T17:46:04.0000000+00:00",
                    "uniqueID": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/oauth2Exchange": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signalToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/bin-locations": {
      "get": {
        "tags": [
          "Bin Locations"
        ],
        "summary": "Gets a list of Bin Locations",
        "description": "By default a bin location response will include only the fields: binLocation, cost, datePosted, deliveryTicketNumber, lastModDate, lastModUser, lotNumber, partNumber, POItemNumber, quantityOnHand, receiverNumber, uniqueID, vendorCode. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by Part Number": {
                "value": {
                  "partNumber": "415-P-26A"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BinLocationListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "binLocation": "string",
                      "cost": 0,
                      "datePosted": "2026-07-14T17:46:00.0000000+00:00",
                      "deliveryTicketNumber": "string",
                      "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModUser": "string",
                      "lotNumber": "string",
                      "partNumber": "string",
                      "POItemNumber": 0,
                      "quantityOnHand": 0,
                      "receiverNumber": "string",
                      "uniqueID": 0,
                      "vendorCode": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/company": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Gets a company",
        "description": "By default a company response will include all fields. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of fields to sort by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the Filter Expression section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by Company Code": {
                "value": {
                  "companyCode": "ABC"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "accountsPayableAccount": "string",
                      "accountsReceivableAccount": "string",
                      "billingDrivenBy": "string",
                      "billingRateDescription1": "string",
                      "billingRateDescription10": "string",
                      "billingRateDescription2": "string",
                      "billingRateDescription3": "string",
                      "billingRateDescription4": "string",
                      "billingRateDescription5": "string",
                      "billingRateDescription6": "string",
                      "billingRateDescription7": "string",
                      "billingRateDescription8": "string",
                      "billingRateDescription9": "string",
                      "cashDiscountAccount": "string",
                      "companyCode": "string",
                      "companyCountry": "string",
                      "companyDescription": "string",
                      "companyTimeZone": "string",
                      "currencyCode": "string",
                      "currentEarningsAccount": "string",
                      "freightAccount": "string",
                      "payrollRateDescription1": "string",
                      "payrollRateDescription10": "string",
                      "payrollRateDescription2": "string",
                      "payrollRateDescription3": "string",
                      "payrollRateDescription4": "string",
                      "payrollRateDescription5": "string",
                      "payrollRateDescription6": "string",
                      "payrollRateDescription7": "string",
                      "payrollRateDescription8": "string",
                      "payrollRateDescription9": "string",
                      "productCode": "string",
                      "purchaseDiscountAccount": "string",
                      "reportDateFormat": "string",
                      "retainedEarningsAccount": "string",
                      "useA4PaperSize": false,
                      "workCode": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/company-calendars": {
      "get": {
        "tags": [
          "Company Calendar"
        ],
        "summary": "Gets a list of Company Calendars",
        "description": "By default a company calendar response will include only the fields: calendarType, capacityFactor, code, date, hoursAvailable, hoursAvailableShift1, hoursAvailableShift2, hoursAvailableShift3, lastModDate, lastModUser, scheduleBegin, scheduleEnd, searchDate, shift1Begin, shift1DefaultEmployeeCode, shift1End, shift2Begin, shift2CapacityFactor, shift2DefaultEmployeeCode, shift2End, shift3Begin, shift3CapacityFactor, shift3DefaultEmployeeCode, shift3End, uniqueID. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by SearchDate": {
                "value": {
                  "searchDate": "3"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCalendarListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "calendarType": "string",
                      "capacityFactor": 0,
                      "code": "string",
                      "date": "2026-07-14T17:46:00.0000000+00:00",
                      "hoursAvailable": 0,
                      "hoursAvailableShift1": 0,
                      "hoursAvailableShift2": 0,
                      "hoursAvailableShift3": 0,
                      "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModUser": "string",
                      "scheduleBegin": "string",
                      "scheduleEnd": "string",
                      "searchDate": 0,
                      "shift1Begin": "string",
                      "shift1DefaultEmployeeCode": "string",
                      "shift1End": "string",
                      "shift2Begin": "string",
                      "shift2CapacityFactor": 0,
                      "shift2DefaultEmployeeCode": "string",
                      "shift2End": "string",
                      "shift3Begin": "string",
                      "shift3CapacityFactor": 0,
                      "shift3DefaultEmployeeCode": "string",
                      "shift3End": "string",
                      "uniqueID": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Gets a list of Contacts",
        "description": "By default a contact response will include only the fields: active, cellPhone, comments, contact, contactCode, email, extension, lastModDate, mobileEmail, object, phone, title, uniqueID. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by Customer Code": {
                "value": {
                  "object": "CUST",
                  "contactCode": "BASS"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "active": false,
                      "cellPhone": "string",
                      "comments": "string",
                      "contact": "string",
                      "contactCode": "string",
                      "email": "string",
                      "enteredDate": "2026-07-14T17:46:00.0000000+00:00",
                      "extension": "string",
                      "fax": "string",
                      "isOptedOut": false,
                      "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModUser": "string",
                      "mobileEmail": "string",
                      "object": "string",
                      "phone": "string",
                      "revisedDate": "2026-07-14T17:46:00.0000000+00:00",
                      "title": "string",
                      "uniqueID": 0
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Creates a Contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreate"
              },
              "example": {
                "active": false,
                "cellPhone": "string",
                "comments": "string",
                "contact": "string",
                "contactCode": "string",
                "email": "string",
                "extension": "string",
                "fax": "string",
                "isOptedOut": false,
                "mobileEmail": "string",
                "object": "string",
                "phone": "string",
                "title": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                },
                "example": {
                  "active": false,
                  "cellPhone": "string",
                  "comments": "string",
                  "contact": "string",
                  "contactCode": "string",
                  "email": "string",
                  "enteredDate": "2026-07-14T17:46:00.0000000+00:00",
                  "extension": "string",
                  "fax": "string",
                  "isOptedOut": false,
                  "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                  "lastModUser": "string",
                  "mobileEmail": "string",
                  "object": "string",
                  "phone": "string",
                  "revisedDate": "2026-07-14T17:46:00.0000000+00:00",
                  "title": "string",
                  "uniqueID": 0
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/{object}/{contactCode}/{contact}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Gets a Contact by specifying the object, the contact code and the contact ",
        "description": "By default a contact response will include only the fields: active, cellPhone, code, comments, contact, uniqueID, email, extension, lastModDate, mobile, object, phone, title. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "object",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSuccessResponse"
                },
                "example": {
                  "Data": {
                    "active": false,
                    "cellPhone": "string",
                    "comments": "string",
                    "contact": "string",
                    "contactCode": "string",
                    "email": "string",
                    "enteredDate": "2026-07-14T17:46:00.0000000+00:00",
                    "extension": "string",
                    "fax": "string",
                    "isOptedOut": false,
                    "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                    "lastModUser": "string",
                    "mobileEmail": "string",
                    "object": "string",
                    "phone": "string",
                    "revisedDate": "2026-07-14T17:46:00.0000000+00:00",
                    "title": "string",
                    "uniqueID": 0
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Updates a Contact",
        "parameters": [
          {
            "name": "object",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdate"
              },
              "example": {
                "active": false,
                "cellPhone": "string",
                "comments": "string",
                "email": "string",
                "extension": "string",
                "fax": "string",
                "phone": "string",
                "title": "string"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/corrective-preventive-actions": {
      "get": {
        "tags": [
          "Corrective Preventative Actions"
        ],
        "summary": "Gets a list of corrective actions",
        "description": "By default a corrective action response will include only the fields: authorization, uniqueID, carDate, carJobNumber, carPrinted, closeOutDate, correctiveActionCode, correctiveActionNumber, customerCode, customerPONumber, customerRMANumber, description, enterBy, enterDate, feedbackNumber, immediateAction, implementationDate, lastModDate, lastModUser, orderNumber, partNumber, permanentAction, PONumber, qualityControlManager, quantityReturned, quantityToRework, reasonForReturn, responseDue, returnType, rmaItemNumber, rootCause, signatureOnFile, status, vendorCode, vendorReturnNumber, vendorRMANumber, verificationBy, verificationDate, verificationOfEffectiveness, verificationOfEffectivenessBy, verificationOfImplementation. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by Number": {
                "value": {
                  "correctiveActionNumber": "1001"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorrectiveActionListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "authorization": "string",
                      "carDate": "2026-07-14T17:46:00.0000000+00:00",
                      "carJobNumber": "string",
                      "carPrinted": "string",
                      "closeOutDate": "2026-07-14T17:46:00.0000000+00:00",
                      "correctiveActionCode": "string",
                      "correctiveActionNumber": "string",
                      "customerCode": "string",
                      "customerPONumber": "string",
                      "customerRMANumber": "string",
                      "description": "string",
                      "enterBy": "string",
                      "enterDate": "2026-07-14T17:46:00.0000000+00:00",
                      "feedbackNumber": "string",
                      "immediateAction": "string",
                      "implementationDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModUser": "string",
                      "orderNumber": "string",
                      "partNumber": "string",
                      "permanentAction": "string",
                      "PONumber": "string",
                      "qualityControlManager": "string",
                      "quantityReturned": 0,
                      "quantityToRework": 0,
                      "reasonForReturn": "string",
                      "responseDue": "2026-07-14T17:46:00.0000000+00:00",
                      "returnType": "string",
                      "rmaItemNumber": 0,
                      "rootCause": "string",
                      "signatureOnFile": "string",
                      "status": "string",
                      "uniqueID": 0,
                      "vendorCode": "string",
                      "vendorReturnNumber": "string",
                      "vendorRMANumber": "string",
                      "verificationBy": "string",
                      "verificationDate": "2026-07-14T17:46:00.0000000+00:00",
                      "verificationOfEffectiveness": "string",
                      "verificationOfEffectivenessBy": "string",
                      "verificationOfImplementation": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/corrective-preventive-actions/{correctiveActionNumber}": {
      "get": {
        "tags": [
          "Corrective Preventative Actions"
        ],
        "summary": "Gets a corrective action by number",
        "description": "By default a corrective action response will include only the fields: authorization, uniqueID, carDate, carJobNumber, carPrinted, closeOutDate, correctiveActionCode, correctiveActionNumber, customerCode, customerPONumber, customerRMANumber, description, enterBy, enterDate, feedbackNumber, immediateAction, implementationDate, lastModDate, lastModUser, orderNumber, partNumber, permanentAction, PONumber, qualityControlManager, quantityReturned, quantityToRework, reasonForReturn, responseDue, returnType, rmaItemNumber, rootCause, signatureOnFile, status, vendorCode, vendorReturnNumber, vendorRMANumber, verificationBy, verificationDate, verificationOfEffectiveness, verificationOfEffectivenessBy, verificationOfImplementation. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "correctiveActionNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorrectiveActionSuccessResponse"
                },
                "example": {
                  "Data": {
                    "authorization": "string",
                    "carDate": "2026-07-14T17:46:00.0000000+00:00",
                    "carJobNumber": "string",
                    "carPrinted": "string",
                    "closeOutDate": "2026-07-14T17:46:00.0000000+00:00",
                    "correctiveActionCode": "string",
                    "correctiveActionNumber": "string",
                    "customerCode": "string",
                    "customerPONumber": "string",
                    "customerRMANumber": "string",
                    "description": "string",
                    "enterBy": "string",
                    "enterDate": "2026-07-14T17:46:00.0000000+00:00",
                    "feedbackNumber": "string",
                    "immediateAction": "string",
                    "implementationDate": "2026-07-14T17:46:00.0000000+00:00",
                    "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                    "lastModUser": "string",
                    "orderNumber": "string",
                    "partNumber": "string",
                    "permanentAction": "string",
                    "PONumber": "string",
                    "qualityControlManager": "string",
                    "quantityReturned": 0,
                    "quantityToRework": 0,
                    "reasonForReturn": "string",
                    "responseDue": "2026-07-14T17:46:00.0000000+00:00",
                    "returnType": "string",
                    "rmaItemNumber": 0,
                    "rootCause": "string",
                    "signatureOnFile": "string",
                    "status": "string",
                    "uniqueID": 0,
                    "vendorCode": "string",
                    "vendorReturnNumber": "string",
                    "vendorRMANumber": "string",
                    "verificationBy": "string",
                    "verificationDate": "2026-07-14T17:46:00.0000000+00:00",
                    "verificationOfEffectiveness": "string",
                    "verificationOfEffectivenessBy": "string",
                    "verificationOfImplementation": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/currency-codes": {
      "get": {
        "tags": [
          "CurrencyCodes"
        ],
        "summary": "Gets a list of Currency Codes",
        "description": "By default a currency code response will include only the fields: accountingID, buyRate, currencyCode, uniqueID, currencyFormat, currencySymbol, dateEntered, decimalPlaces, decimalSymbol, description, enteredBy, formatShow, GLCode, lastModDate, lastModUser, negativeCurrencyFormat, negativeFormatShow, QBCurrencyCode, sellRate, thousandsSeparator. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by GL Code": {
                "value": {
                  "GLCode": "4100"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyCodeListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "accountingID": "string",
                      "buyRate": 0,
                      "currencyCode": "string",
                      "currencyFormat": "string",
                      "currencySymbol": "string",
                      "dateEntered": "2026-07-14T17:46:00.0000000+00:00",
                      "decimalPlaces": 0,
                      "decimalSymbol": "string",
                      "description": "string",
                      "enteredBy": "string",
                      "formatShow": "string",
                      "GLCode": "string",
                      "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModUser": "string",
                      "negativeCurrencyFormat": "string",
                      "negativeFormatShow": "string",
                      "QBCurrencyCode": "string",
                      "sellRate": 0,
                      "thousandsSeparator": "string",
                      "uniqueID": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer-return-line-items": {
      "get": {
        "tags": [
          "Customer Return Line Items"
        ],
        "summary": "Gets a list of Customer Return Line Items",
        "description": "By default a customer return line item response will include only the fields: binLocation, correctiveActionNumber, createCAR, createNC, customerPONumber, customerRMANumber, deliveryTicketItemNumber, deliveryTicketNumber, description, lastModDate, lastModUser, lotNumber, ncNumber, originalJobNumber, originalOrderNumber, originalQuantityShipped, partDescription, partNumber, quantityGood, quantityReturned, quantityToRestock, quantityToRework, reasonCode, restockingPercent, reworkJobNumber, rmaItemNumber, status, uniqueID, unit. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by partNumber": {
                "value": {
                  "partNumber": "1000"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerReturnLineItemListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "binLocation": "string",
                      "correctiveActionNumber": "string",
                      "createCAR": "string",
                      "createNC": "string",
                      "customerPONumber": "string",
                      "customerRMANumber": "string",
                      "deliveryTicketItemNumber": 0,
                      "deliveryTicketNumber": "string",
                      "description": "string",
                      "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModUser": "string",
                      "lotNumber": "string",
                      "ncNumber": "string",
                      "originalJobNumber": "string",
                      "originalOrderNumber": "string",
                      "originalQuantityShipped": 0,
                      "partDescription": "string",
                      "partNumber": "string",
                      "quantityGood": 0,
                      "quantityReturned": 0,
                      "quantityToRestock": 0,
                      "quantityToRework": 0,
                      "reasonCode": "string",
                      "restockingPercent": 0,
                      "reworkJobNumber": "string",
                      "rmaItemNumber": 0,
                      "status": "string",
                      "uniqueID": 0,
                      "unit": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer-return-releases": {
      "get": {
        "tags": [
          "Customer Return Releases"
        ],
        "summary": "Gets a list of Customer Return Releases",
        "description": "By default a customer return release response will include only the fields: binLocation, comments, customerRMANumber, lastModDate, lastModUser, lotNumber, quantityToRestock, quantityToRework, rmaItemNumber, uniqueID. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by lotNumber": {
                "value": {
                  "lotNumber": "1"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerReturnReleaseApiListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "binLocation": "string",
                      "comments": "string",
                      "customerRMANumber": "string",
                      "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModUser": "string",
                      "lotNumber": "string",
                      "quantityToRestock": 0,
                      "quantityToRework": 0,
                      "rmaItemNumber": 0,
                      "uniqueID": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer-returns": {
      "get": {
        "tags": [
          "Customer Returns"
        ],
        "summary": "Gets a list of Customer Returns",
        "description": "By default a customer return response will include only the fields: billCustomerForReturn, comment, correctiveActionCode, correctiveActionNumber, createCAR, createCreditMemo, createdInvoiceNumber, createNC, creditDate, creditedBy, customerCode, customerDescription, customerPONumber, customerRMANumber, dateEntered, debitPrinted, deliveryTicketNumber, enteredBy, inspectedBy, inspectionDate, issueDate, issuedBy, labelPrinted, lastModDate, lastModUser, orderDate, orderedBy, QCComment, reasonForReturn, receiveDate, receivedBy, receivingComment, status, uniqueID. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by customerCode": {
                "value": {
                  "customerCode": "ALPHA"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerReturnListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "billCustomerForReturn": "string",
                      "comment": "string",
                      "correctiveActionCode": "string",
                      "correctiveActionNumber": "string",
                      "createCAR": "string",
                      "createCreditMemo": "string",
                      "createdInvoiceNumber": "string",
                      "createNC": "string",
                      "creditDate": "2026-07-14T17:46:00.0000000+00:00",
                      "creditedBy": "string",
                      "customerCode": "string",
                      "customerDescription": "string",
                      "customerPONumber": "string",
                      "customerRMANumber": "string",
                      "dateEntered": "2026-07-14T17:46:00.0000000+00:00",
                      "debitPrinted": "string",
                      "deliveryTicketNumber": "string",
                      "enteredBy": "string",
                      "inspectedBy": "string",
                      "inspectionDate": "2026-07-14T17:46:00.0000000+00:00",
                      "issueDate": "2026-07-14T17:46:00.0000000+00:00",
                      "issuedBy": "string",
                      "labelPrinted": "string",
                      "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModUser": "string",
                      "orderDate": "2026-07-14T17:46:00.0000000+00:00",
                      "orderedBy": "string",
                      "QCComment": "string",
                      "reasonForReturn": "string",
                      "receiveDate": "2026-07-14T17:46:00.0000000+00:00",
                      "receivedBy": "string",
                      "receivingComment": "string",
                      "status": "string",
                      "uniqueID": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Gets a list of Customers",
        "description": "By default a customer response will include only the fields: active, APContact, creditLimit, currencyCode, customerCode, customerName, lastModDate, phone, salesID, termsCode, uniqueID, website, workCode. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "examples": {
              "No filters": { },
              "Filter by SalesID": {
                "value": {
                  "salesID": "BOB"
                }
              }
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records at the start of the result set to skip over.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListSuccessResponse"
                },
                "example": {
                  "Data": [
                    {
                      "accountingID": "string",
                      "active": false,
                      "APContact": "string",
                      "APPhone": "string",
                      "averageDaysToPay": 0,
                      "averageReceiptAge": 0,
                      "billingAddress1": "string",
                      "billingCity": "string",
                      "billingCountry": "string",
                      "billingState": "string",
                      "billingZIPCode": "string",
                      "comments1": "string",
                      "comments2": "string",
                      "contact1": "string",
                      "contact1Phone": "string",
                      "contact2": "string",
                      "contact2Phone": "string",
                      "creditLimit": 0,
                      "creditStatus": "string",
                      "currencyCode": "string",
                      "currentReceivableBalance": 0,
                      "customerCode": "string",
                      "customerName": "string",
                      "dateLast": "2026-07-14T17:46:00.0000000+00:00",
                      "dateOpen": "2026-07-14T17:46:00.0000000+00:00",
                      "defaultPriority": 0,
                      "discountPercent": 0,
                      "enteredBy": "string",
                      "enteredDate": "2026-07-14T17:46:00.0000000+00:00",
                      "fax": "string",
                      "federalIDNumber": "string",
                      "GSTCode": "string",
                      "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                      "lastModUser": "string",
                      "location": "string",
                      "minimumOrder": 0,
                      "NET1ContactID": "string",
                      "phone": "string",
                      "priceTier": 0,
                      "QBCustomerCode": "string",
                      "restockingPercent": 0,
                      "revisedDate": "2026-07-14T17:46:00.0000000+00:00",
                      "salesID": "string",
                      "taxCode": "string",
                      "termsCode": "string",
                      "uniqueID": 0,
                      "user_Currency1": 0,
                      "user_Currency2": 0,
                      "user_Date1": "2026-07-14T17:46:00.0000000+00:00",
                      "user_Date2": "2026-07-14T17:46:00.0000000+00:00",
                      "user_Memo1": "string",
                      "user_Number1": 0,
                      "user_Number2": 0,
                      "user_Number3": 0,
                      "user_Number4": 0,
                      "user_Text1": "string",
                      "user_Text2": "string",
                      "user_Text3": "string",
                      "user_Text4": "string",
                      "website": "string",
                      "workCode": "string",
                      "YTDSales": 0
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Creates a Customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              },
              "example": {
                "active": false,
                "billingAddress1": "string",
                "billingCity": "string",
                "billingCountry": "string",
                "billingState": "string",
                "billingZIPCode": "string",
                "comments1": "string",
                "comments2": "string",
                "creditLimit": 0,
                "creditStatus": "string",
                "currencyCode": "string",
                "customerCode": "string",
                "customerName": "string",
                "defaultPriority": 0,
                "discountPercent": 0,
                "fax": "string",
                "federalIDNumber": "string",
                "GSTCode": "string",
                "minimumOrder": 0,
                "phone": "string",
                "QBCustomerCode": "string",
                "salesID": "string",
                "taxCode": "string",
                "termsCode": "string",
                "user_Currency1": 0,
                "user_Currency2": 0,
                "user_Date1": "2026-07-14T17:46:00.0000000+00:00",
                "user_Date2": "2026-07-14T17:46:00.0000000+00:00",
                "user_Memo1": "string",
                "user_Number1": 0,
                "user_Number2": 0,
                "user_Number3": 0,
                "user_Number4": 0,
                "user_Text1": "string",
                "user_Text2": "string",
                "user_Text3": "string",
                "user_Text4": "string",
                "website": "string",
                "workCode": "string",
                "shippingAddresses": [
                  {
                    "location": "string",
                    "printCertification": false,
                    "shippingAddress1": "string",
                    "shippingCity": "string",
                    "shippingCode": "string",
                    "shippingContact": "string",
                    "shippingCountry": "string",
                    "shippingFAX": "string",
                    "shippingPhone": "string",
                    "shippingState": "string",
                    "shippingZipCode": "string",
                    "shipToName": "string",
                    "shipVia": "string",
                    "territory": "string"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "example": {
                  "accountingID": "string",
                  "active": false,
                  "APContact": "string",
                  "APPhone": "string",
                  "averageDaysToPay": 0,
                  "averageReceiptAge": 0,
                  "billingAddress1": "string",
                  "billingCity": "string",
                  "billingCountry": "string",
                  "billingState": "string",
                  "billingZIPCode": "string",
                  "comments1": "string",
                  "comments2": "string",
                  "contact1": "string",
                  "contact1Phone": "string",
                  "contact2": "string",
                  "contact2Phone": "string",
                  "creditLimit": 0,
                  "creditStatus": "string",
                  "currencyCode": "string",
                  "currentReceivableBalance": 0,
                  "customerCode": "string",
                  "customerName": "string",
                  "dateLast": "2026-07-14T17:46:00.0000000+00:00",
                  "dateOpen": "2026-07-14T17:46:00.0000000+00:00",
                  "defaultPriority": 0,
                  "discountPercent": 0,
                  "enteredBy": "string",
                  "enteredDate": "2026-07-14T17:46:00.0000000+00:00",
                  "fax": "string",
                  "federalIDNumber": "string",
                  "GSTCode": "string",
                  "lastModDate": "2026-07-14T17:46:00.0000000+00:00",
                  "lastModUser": "string",
                  "location": "string",
                  "minimumOrder": 0,
                  "NET1ContactID": "string",
                  "phone": "string",
                  "priceTier": 0,
                  "QBCustomerCode": "string",
                  "restockingPercent": 0,
                  "revisedDate": "2026-07-14T17:46:00.0000000+00:00",
                  "salesID": "string",
                  "taxCode": "string",
                  "termsCode": "string",
                  "uniqueID": 0,
                  "user_Currency1": 0,
                  "user_Currency2": 0,
                  "user_Date1": "2026-07-14T17:46:00.0000000+00:00",
                  "user_Date2": "2026-07-14T17:46:00.0000000+00:00",
                  "user_Memo1": "string",
                  "user_Number1": 0,
                  "user_Number2": 0,
                  "user_Number3": 0,
                  "user_Number4": 0,
                  "user_Text1": "string",
                  "user_Text2": "string",
                  "user_Text3": "string",
                  "user_Text4": "string",
                  "website": "string",
                  "workCode": "string",
                  "YTDSales": 0
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{customerCode}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Gets a Customer by customer code",
        "description": "By default a customer response will include only the fields: active, APContact, creditLimit, currencyCode, customerCode, customerName, lastModDate, phone, salesID, termsCode, uniqueID, website, workCode. You may specify the exact fields to return using the fields parameter.",
        "parameters": [
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of fields to include in the result.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSuccessResponse"
                },
                "example": {
                  "Data": {
                    "accountingID": "string",
                    "active": false,
                    "APContact": "string",
                    "APPhone": "string",
                    "averageDaysToPay": 0,
                    "averageReceiptAge": 0,
                    "billingAddress1": "string",
                    "billingCity": "string",
                    "billingCountry": "string",
                    "billingState": "string",
                    "billingZIPCode": "string",
                    "comments1": "string",
                    "comments2": "string",
                    "contact1": "string",
                    "contact1Phone": "string",
                    "contact2": "string",
[...]
